body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* font-size: large; */
    color: white;
    background-color: rgb(49, 49, 49);
    box-shadow: 3px 3px 0 0 #111111,
        2px 2px 0 0 #090909,
        1px 1px 0 0 #000000;
    transition: 0.3s all;
}

a:hover {
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0 0 #191919,
        3px 3px 0 0 #111111,
        2px 2px 0 0 #090909,
        1px 1px 0 0 #000000;
}

a:active {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 0 0 #090909,
        1px 1px 0 0 #000000;
}